%center
	.h1 Current User
	.h4= "#{current_user.email}"
	%hr

.jumbotron	
	.h2 Asked Questions
	= link_to "Ask New Question", new_post_path, class: "btn btn-primary"
	%br
	%br
	- @current_user_posts.each do |p|
		.panel.panel-default
			.panel-heading
				.dropdown{:style => "float: right;"}
					%button#dLabel{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button", :class => "btn btn-primary", :style => "float: right;"}
						%span.caret
					%ul.dropdown-menu{:style => "float: right;"}
						%li
							= link_to "Edit", edit_post_path(p), method: "get"
						%li
							/%a{:href => post_path(p), method: "delete"} Delete
							= link_to "Delete", post_path(p), method: "delete"
						%li.divider
						%li
							%a{:href => post_path(p)} View
				%h2.panel-title= link_to p.title, post_path(p)
				%h5= "Published: #{p.created_at}"


			.panel-body= truncate(p.body, length: 100)  